* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Overpass","sans serif";
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #1f2022;
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: #424a50;
    border-radius: 0px 60px 0px 0px;
}

.left-section-contents{
    padding: 2rem 2rem;
}

.profile {
    width: 100%;
    border-bottom: 4px solid #ffc92b;
    padding: 2rem;
}

.profile .profile-image {
    width: 100%;
    border-radius: 100%;
    padding-bottom: 2rem;
}

.name {
    color: #eeeeee;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.profession {
    color: #eeeeee;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: Normal;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
.left-title {
    padding-top: 1rem;
    padding-left: 1.5rem;
    color: #ffc92b;
    font-size: 20px;
    font-weight: bold;
}

.contact-info ul {
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.contact-info ul li,
.references ul li {
    padding: .4rem 0;
    color: #eeeeee;
}

.contact-info ul li i,
.references ul li i {
    font-size: 18px;
    color: #eeeeee;
    padding-right: 1rem;
}

.skills ul {
    padding-top: 1rem;
    padding-left: 1.5rem;
}
.skills ul li p {
    padding: .4rem 0;
    color: #eeeeee;
}

.right-title {
    color: #eeeeee;
    font-size: 20px;

    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 2rem;

}

.about-me-contents {
    font-size: 18px;
    padding-bottom: 1rem;
    color: #eeeeee;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

.introduction { 
    color: #F1F8FD;
    font-size: 18px;
    padding-bottom: 1rem;
    padding-left: 1rem;
}


.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
    padding-left: 2rem;
    color: #F1F8FD;
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 25px;
    font-weight: bold;

    color: #ffc92b;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

}

.exp-time-period,
.education-time-period,
.awards-time-period {

    font-size: 16px;
    padding-left: 5px;
    padding-right: 3rem;
    padding-bottom: 1rem;

}

.exp-position,
.education-subject,
.awards-name {
    font-size: 25px;

    padding-right: 3rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

}

.exp-desc,
.education-desc,
.awards-desc {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 3rem;

    padding-bottom: 1rem;
